<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>

<!-- Upload term -->
<div class="col-md-6" id="upload-term">
  <h1>Upload New Term</h1>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="school-year" class="col-sm-2 control-label">School Year</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="school-year" placeholder="School Year">
      </div>
    </div>

    <div class="form-group">
      <label for="period" class="col-sm-2 control-label">Period</label>
      <div class="col-sm-10">
        <input class="form-control" id="period" placeholder="Period">
      </div>
    </div>

    <div class="form-group">
      <label for="report-cards" class="col-sm-2 control-label">Report Cards</label>
      <div class="col-sm-10">
        <input type="filepicker-dragdrop" data-fp-apikey="AzgvLhAMSIeU4nrObRb0Xz"  data-fp-container="modal" data-fp-services="COMPUTER,DROPBOX,GOOGLE_DRIVE,GMAIL" data-fp-extension=".pdf" onchange="filepicker_upload('logo', event.fpfile.url)">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="new-term-button" class="btn btn-primary">Start new term</button>
      </div>
    </div>
  </form>

  <div class="alert alert-danger" role="alert" id="upload-term-errors"></div>
</div>

<!-- Download term -->
<div class="col-md-6" id="download-term">
  <h1>Download CSV</h1>
  <!-- <form method="get" action="file.doc"> -->
    <button id="download-term-button" type="submit" class="btn-lg">
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
    </button>
  <!-- </form> -->
</div>

<!-- Test routing -->
<div class="col-md-6" id="test-routes">
  <a href="/terms">terms</a>
  <a href="/students">students</a>
  <a href="/test">test</a>
</div>

<div id="container">Loading Upload...</div>